.avatar {
  display: inline;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px #1f2657;
  background-color: #d5d1e8;
  margin-top: 20px;
}
.onlineStatus,
.offlineStatus {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
}
.onlineStatus {
  background-color: green;
}

.offlineStatus {
  background-color: red;
}
